<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
    
     <!--Banner Content-->
     <div id="banner-content" class="row clearfix">

        <div class="col-38">

            <div class="section-heading">
                <h1>WELCOME TO TOTAL PETROL STATION</h1>
                <h2>It's not about the price, It's about the service. You want value, come fuel with us.</h2>
            </div>

            <!--Call to Action-->
            <a routerLink="/validator" class="button">Login Here</a>
            <!--End Call to Action-->

        </div>

    </div><!--End of Row-->
</header>