 <!--Introduction-->
 <section id="about" class="introduction scrollto">

    <div class="row clearfix">

        <div class="col-3 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                <div class="icon">
                    <i class="fa fa-user-plus"></i>
                </div>
            <div class="section-heading">
                <h3>Add user section</h3>
                <!--Start of Create Delete Update Password User Content Section-->
                <app-modifiy-user></app-modifiy-user>
                <!--End of Create Delete Update Password User Content Section-->
            </div>

        </div>

        <div class="col-2-3">

            <!--Icon Block-->
            <div class="col icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                <!--Some Icon-->
                <div class="icon">
                    <i class="fa fa-table"></i>
                </div>
                <!--Customer Description-->
                <div class="icon-block-description">
                    <h4>Add Customer section</h4>
                    <!--Start of Create User Table Content Section-->
                    <app-modify-user-table></app-modify-user-table>
                    <!--End of Create User Table Content Section-->                    
                </div>
            </div>
            <!--End of Customer Icon Block-->

           

        </div>

    </div>


</section>
<!--End of Introduction-->
