<div class="user-reg-wrapper mat-elevation-z4">
    <h2>Add user</h2>

    <form class="login_form">
        <mat-form-field class="field-full-width">
          <input matInput placeholder="Username">
        </mat-form-field>
      
        <mat-form-field class="field-full-width">
          <input matInput placeholder="Password" type="password">
        </mat-form-field>

        <mat-form-field class="field-full-width">
          <input matInput placeholder="Phone No">
        </mat-form-field>
      
        <mat-form-field class="field-full-width">
          <input matInput placeholder="Email">
        </mat-form-field>
      </form>

      <div class="div-login-buttons">
        <button mat-raised-button  class="User-Add-buttons">ADD</button>
      </div> 
</div>