<div class="table-wrap mat-elevation-z4">

  <table class="table">
    <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Password</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let staff of staffs">
        <td data-label="ID"><span>{{staff.id}}</span></td>
        <td data-label="Username"><span>{{staff.username}}</span></td>
        <td data-label="Password"><span>{{staff.password}}</span></td>
        <td data-label="Phone"><span>{{staff.phone}}</span></td>
        <td data-label="Email"><span>{{staff.email}}</span></td>
        
        <td data-label="Actions">
          <a href="#" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="fa fa-user-plus"></i></span>
          </a>
          <a href="#" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="fa fa-edit"></i></span>
          </a>
          <a href="#" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="fa fa-trash"></i></span>
          </a>
          
        </td>
      </tr>
    
    </tbody>
</table>

    <!--table class="table">
      <thead class="thead-dark">
        <tr>
          <th>USERNAME</th>
          <th>PASSWORD</th>
          <th>PHONE NO</th>
          <th>EMAIL</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr class="alert" role="alert">
          <td>Chrispine</td>
          <td>@ke2244arEq$</td>
          <td>0702407935</td>
          <td>chrispineotieno702@email.com</td>
          <td>
              <a href="#" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="fa fa-trash"></i></span>
          </a>
        </td>
        </tr>
        <tr class="alert" role="alert">
          <td>Chrispine</td>
          <td>@ke2244arEq$</td>
          <td>0702407935</td>
          <td>chrispineotieno702@email.com</td>
          <td>
              <a href="#" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="fa fa-trash"></i></span>
          </a>
        </td>
        </tr>
        <tr class="alert" role="alert">
          <td>Chrispine</td>
          <td>@ke2244arEq$</td>
          <td>0702407935</td>
          <td>chrispineotieno702@email.com</td>
          <td>
              <a href="#" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="fa fa-trash"></i></span>
          </a>
        </td>
        </tr>
        <tr class="alert" role="alert">
          <td>Chrispine</td>
          <td>@ke2244arEq$</td>
          <td>0702407935</td>
          <td>chrispineotieno702@email.com</td>
          <td>
              <a href="#" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="fa fa-trash"></i></span>
          </a>
        </td>
        </tr>
        <tr class="alert" role="alert">
          <td>Chrispine</td>
          <td>@ke2244arEq$</td>
          <td>0702407935</td>
          <td>chrispineotieno702@email.com</td>
          <td>
              <a href="#" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="fa fa-trash"></i></span>
          </a>
        </td>
        </tr>
        <tr class="alert" role="alert">
            <td>Chrispine</td>
            <td>@ke2244arEq$</td>
            <td>0702407935</td>
            <td>chrispineotieno702@email.com</td>
            <td>
                <a href="#" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true"><i class="fa fa-trash"></i></span>
            </a>
          </td>
          </tr>
          <tr class="alert" role="alert">
            <td>Chrispine</td>
            <td>@ke2244arEq$</td>
            <td>0702407935</td>
            <td>chrispineotieno702@email.com</td>
            <td>
                <a href="#" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true"><i class="fa fa-trash"></i></span>
            </a>
          </td>
          </tr>
      </tbody>
    </table-->
</div>