<div id="top-nav-holder-container">
    <header>
        <div class="container">
            <input type="checkbox" name="" id="check">
           
            <div class="nav-btn">
                <div class="nav-links">
                    <ul>
                        <li class="nav-link" style="--i: .6s">
                            <a href="#">HOME</a>
                        </li>
                        <li class="nav-link" style="--i: .85s">
                            <a>FILES<i class="fa fa-angle-down"></i></a>
                            <div class="dropdown">
                                <ul>
                                    <li class="dropdown-link">
                                        <a routerLink="/About">Create/Delete users</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">Reset printer/User passwords</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a>Rebuild tables<i class="fa fa-angle-down"></i></a>
                                        <div class="dropdown second">
                                            <ul>
                                                <li class="dropdown-link">
                                                    <a href="#">Link 1</a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a href="#">Link 2</a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a href="#">Link 3</a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a>More<i class="fa fa-angle-down"></i></a>
                                                    <div class="dropdown second">
                                                        <ul>
                                                            <li class="dropdown-link">
                                                                <a href="#">Link 1</a>
                                                            </li>
                                                            <li class="dropdown-link">
                                                                <a href="#">Link 2</a>
                                                            </li>
                                                            <li class="dropdown-link">
                                                                <a href="#">Link 3</a>
                                                            </li>
                                                            <div class="arrow"></div>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <div class="arrow"></div>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">Change user groups</a>
                                    </li>
                                    <div class="arrow"></div>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-link" style="--i: 1.1s">
                            <a>TASKS<i class="fa fa-angle-down"></i></a>
                            <div class="dropdown">
                                <ul>
                                    <li class="dropdown-link">
                                        <a href="#">Company Info</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">Allocate Officers</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">Purchase/ Reversals(Sales)</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a>Backup Data(External)<i class="fa fa-angle-down"></i></a>
                                        <div class="dropdown second">
                                            <ul>
                                                <li class="dropdown-link">
                                                    <a href="#">Link 1</a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a href="#">Link 2</a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a href="#">Link 3</a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a>More<i class="fa fa-angle-down"></i></a>
                                                    <div class="dropdown second">
                                                        <ul>
                                                            <li class="dropdown-link">
                                                                <a href="#">Link 1</a>
                                                            </li>
                                                            <li class="dropdown-link">
                                                                <a href="#">Link 2</a>
                                                            </li>
                                                            <li class="dropdown-link">
                                                                <a href="#">Link 3</a>
                                                            </li>
                                                            <div class="arrow"></div>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <div class="arrow"></div>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">Transfers, ADJS, ASSY</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">Receipts, CRNTS, DRNTS</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">Forecourt Shift Processing</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">MIS</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">Audits Trails</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">KRA</a>
                                    </li>
                                    <div class="arrow"></div>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-link" style="--i: 1.35s">
                            <a href="#">SHIFTS</a>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="hamburger-menu-container">
                <div class="hamburger-menu">
                    <div></div>
                </div>
            </div>
        </div>
    </header>
</div>